{% extends "layout.html" %}

{% block title %}
    buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        
        <div>
        <input type="number" autocomplete="off"  placeholder="Shares" id="s" name="shares">
        </div>
        
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
